footer {
    background-color:@secondary-bg-color;
    color: @primary-text-color;
    padding: @footer-padding;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;

    a {
        color: @default-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
